<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="ReportPath" value="E:\Education\BEng in Software Engineering\Project\Randholi_POS\Randholi_POS\"/>
  </appSettings>
    <connectionStrings>
        <add name="dbcon" connectionString="server=MANOJNUG\MANOJNUG; database=db_randholiPOS; trusted_connection=yes;" />
    </connectionStrings>

</configuration>